
@mixin nospace($margin, $padding) {
    margin: $margin;
    padding: $padding;

}

@mixin card{
    background-color: $brand-blue;
    color: $brand-white;
    border-radius: $corners;
    text-align: center;

}
