
html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}



body {
    background-color: $brand-blue;
    @include nospace($zero, $zero);
    font-family: $body-font;
    line-height: 2;
}

h1,
h2,
h3 {
    font-family: $head-font;
}

h1 {
    font-size: $double-space;
    margin-bottom: $zero;
}

/* make images flexible */
img {
    max-width: $max-flex;
}

a {
    color: $brand-coffee;
    &:hover {
        text-decoration: none;
    }
    
}


header {
    border-bottom: $border;
}

/* navbar styling */


nav {
    ul {
    @include nospace($zero, $zero);
    list-style-type: none;
    display: block;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

 li {
    margin: $zero $std-space $std-space $std-space;
    font-size: 1.3rem;
}

/* max width on the image in pixels */


/* flex basis on the image container, li */
 .logo {
    flex-basis: $max-flex;
    text-align: center;
    img {
        max-width: 150px;
    }
}

 a {
    color: $brand-white;
    text-decoration: none;
    display: block;

    &:hover {
        color: $brand-orange;}
    
}}




/* establishes a white background */
.main-bkgd {
    background: #ffffff url("../media/images/gulp-bottom-beans.jpg") repeat-x bottom;
    padding-bottom: 300px;
}

/* sits inside of the white background, centered */
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: $double-space;



}

article {
    flex-basis: $max-flex;
}

figure {
    margin: $figure-margin;

    flex-basis: $max-flex;
    background-color: $brand-coffee;
    border-radius: $corners;
}

figure img {
    border-top-left-radius: $corners;
    border-top-right-radius: $corners;

}

figcaption {
    color: $brand-white;
    padding: 0.5 * $std-space;
}

.button {
    display: inline-block;
    background-color: $brand-coffee;
    border-radius: $corners;
    @include nospace($zero, 0.5 * $std-space $std-space);
    color: $brand-white;
    text-decoration: none;
    border: $button;

    &:hover {
        background-color: $brand-white;
        color: $brand-coffee;
}
}



footer {
    color: $brand-white;
    text-align: center;
    border-top: $border;

    ul {
        list-style-type: none;
        @include nospace($zero, $zero);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    a {
        color: $brand-white;
        font-size: $double-space;
        display: block;
        margin: $zero $std-space $std-space * 3 $std-space;
    
        &:hover{color: $brand-orange;
            
        }
}}


.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $double-space;
}

.card1 {
    @include card;
    h2{padding: $zero $std-space;}
    p{padding: $zero $std-space;}
}

.card2 {
    @include card;
    h2{padding: $zero $std-space;}
    p{padding: $zero $std-space;}
}

.card3 {
    @include card;
    h2{padding: $zero $std-space;}
    p{padding: $zero $std-space;}
}



.menu {
    margin: $figure-margin;
    flex-basis: $max-flex * 0.25;
    border-radius: $corners;
    text-align: center;

    img {
        border-radius: $corners;
    }
}



.product-header {

    text-align: center;
    padding-bottom: $std-space
}

.center {
    flex-basis: $max-flex;
    text-align: center;
    justify-content: center;
}



.container3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: $double-space;
}

.contact-info {
    text-align: center;
    justify-content: center;
    flex-basis: $max-flex;
}

.menu {
    text-align: center;
    flex-basis: $max-flex;
}

