$brand-blue: #082B59;
$brand-orange: #d98555;
$brand-coffee: #59331d;
$brand-white: #f2f2f2;
$body-font: 'Lato', sans-serif;
$head-font: 'Poppins', sans-serif;
$corners: 10px;
$zero: 0;
$std-space: 1rem;
$max-flex: 100%;
$justify-space: space-between;
$border: $corners solid $brand-orange;
$button: $corners - 7 solid $brand-coffee;
$double-space: 2rem;
$figure-margin: 3rem 0 0 0;
